* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  color: #ffffff;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
html {
  background: rgb(55, 30, 79);
}
body {
  min-height: 100vh;
  background: -moz-linear-gradient(
    90deg,
    rgba(55, 30, 79, 1) 0%,
    rgba(90, 51, 128, 1) 50%,
    rgba(51, 23, 79, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(55, 30, 79, 1) 0%,
    rgba(90, 51, 128, 1) 50%,
    rgba(51, 23, 79, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(55, 30, 79, 1) 0%,
    rgba(90, 51, 128, 1) 50%,
    rgba(51, 23, 79, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#371e4f",endColorstr="#33174f",GradientType=1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: white;
  padding: 1rem 2rem;
  height: 140px;
}
.navbarright,
.navbarleft {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  z-index: 100;
}
.navbarright ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
.homeheader {
  overflow-y: hidden;
  background-image: url("../images/homeheader.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  height: 100vh;
}
.homeheadercenter {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.homeheadercenter h1 {
  font-weight: 700;
  font-size: 70px;
}
.homeheadercenter p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.homeheadercenter button {
  padding: 10px 20px;
  margin-top: 40px;
  border: none;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.7);

  color: #000000;
  cursor: pointer;
}
.bluebloom {
  position: absolute;
  opacity: 0.5;
  z-index: 10;
  width: 60vw;
  max-height: 140vh;
  overflow: hidden;
}
.homecarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
  z-index: 100;
}
.homecarousel h1 {
  font-weight: 700;
  font-size: 50px;
}
